@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

:root {
    --primary-color: #A67B5B;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


h1{
    font-weight: 300;
    font-size: 60px;
    line-height: 1.2;
    margin-bottom: 15px;
    font-family: 'Open Sans', sans-serif;
}

.showcase{
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    color: white;
}

.videoContainer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: var(--primary-color);
}

.content{
    z-index: 10;
}

.videoContainer video{
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.videoContainer:after {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, 0.6);
}

.about {
    padding: 40px;
	text-align: center;
}

.about p {
	font-size: 1.2rem;
	max-width: 600px;
	margin: auto;
}

.about h2 {
	margin: 30px 0;
}

a {
    text-decoration: none;
}

.social a{
    margin: 0 5px;
}

span{
    color: black;
}

span:hover{
    opacity: .8;
}

.btn_home{
    opacity: .8;
    margin: 30px 0;
}

.iconSize{
    height: 25px;
    width: 25px;
}